<h1><%= @book_club.name %></h1>

<% if @leader %>
<p>
  <%= @leader.first_name %> <%= @leader.last_name %>, Leader
</p>
<% end %>


<ul>
  <% @book_club_members.each do |member| %>
  <li>
    <%= member.first_name %> <%= member.email %> <br />
  </li>
  <% end %>
</ul>
